<div class="container mx-auto mt-5">
  <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field class="max-w-xl w-full" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="name.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <div class="grid grid-cols-3 gap-12 mt-5">
      <div>
        <app-resource-control [min]="cpuOption.min" [max]="cpuOption.max" [step]="cpuOption.step" formControlName="cpu" [placeholder]="'CPU'" resourceType="CPU"></app-resource-control>
      </div>
      <div>
        <app-resource-control [min]="memoryOption.min" [max]="memoryOption.max" [step]="memoryOption.step" formControlName="memory" [placeholder]="'Memory'"></app-resource-control>
      </div>
      <div>
        <app-resource-control [min]="storageOption.min" [max]="storageOption.max" [step]="storageOption.step" formControlName="storage" [placeholder]="'Storage'"></app-resource-control>
      </div>
    </div>
  </form>
  
  <h3 class="mt-12 text-3xl">Form Data</h3>
  <hr class="mb-4">
  {{this.resourceForm.value | json}}
</div>