/* Material import above */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom Resource slider
:root {
  .custom-resource-slider {
    .ngx-slider-pointer {
      cursor: pointer;
      width: 24px;
      height: 24px;
      top: -11px;
      background-color: #0db9f0;
      z-index: 3;
      border-radius: 17px;
      &::after {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 50%;
        background: #fff;
      }
      &.ngx-slider-active {
        &::after {
          background: #fff;
        }
      }
    }
  }
}
